/* RESET CSS */

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    overflow: hidden;
}


/* VARIABLES */

/* LAYOUT CSS */

#svg-container {
    background-color: rgba(45, 45, 44, 0.309);
    height: 100vh;
    width: 100%;
    /* display: flex;
    flex-wrap: wrap;    */
    // z-index: 1000 !important;
}

svg {
    margin-left: -25px;
    
    polygon {
        stroke: rgb(25, 25, 24);
        stroke-width: 1;
    }
}

.animate {
    animation-name: fly;
    animation-duration: 1s;
    animation-timing-function: cubic-bezier(0.55, 0.05, 0.795, 0.035);
    // animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    animation-delay: 1s;
    animation-direction: normal;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-play-state: running;
}

@keyframes fly {
    100% {
        transform: scale(3.5);
        transform: translate(110%, -25%);
        opacity: 0;
    }
}

.thicken {
    animation-name: thicken;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    animation-delay: 0s;
    animation-direction: normal;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-play-state: running;
}

@keyframes thicken {
    50% {
        stroke: yellow;
        stroke-width: 1px;
    }
}